@model IEnumerable<MSC_TrashCollector.Models.Customer>

@{
    ViewBag.Title = "List Of Customers In your area";
}
<br></br>
<br></br>
<h2>List Of Customers In your area</h2>

@using (Html.BeginForm("Index", "Employees"))
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrashPickup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickupCost)
        </th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            $
            @Html.DisplayFor( model => item.PickupCost)
        </td>
        <td>

            @Html.CheckBoxFor(modelItem => item.TrashPickup)
            @{ var status = item.TrashPickup ? "Complete" : "Not Complete";

            }

            @Html.ActionLink(status, "PickupStatus", new { id = item.ID }, new { @class = "btn btn-default" })

        </td>

    </tr>

    }
</table>
        
                <div class="form-group">
                    @Html.TextBox("DayofWeek")
                    <input type="submit" value="Select Day" class="btn btn-default" name="PickupDay" />
                </div>

}
